<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="rounded p-2 m-4 bg-info text-white text-center text-uppercase w-50">
                Articles available
            </h1>
        </div>
        <table class="table">
            <thead class="bg-info text-uppercase text-light">
                <tr>
                    <th scope="col">name</th>
                    <th scope="col">description</th>
                    <th scope="col">price</th>
                    <th scope="col">quantity</th>
                </tr>
            </thead>
            <tbody>
                <form method="post">
                    <tr class="bg-light">
                        <th>
                            <input name="name" id="name" class="name form-control {% if errors.name is defined %}is-invalid{% endif %}" type="text" placeholder="Article name" value="{{ formData.name }}">
                            {% if errors.name is defined %}
                            <div class="invalid-feedback">
                                {{ messages.name }}
                            </div>
                            {% endif %}
                        </th>
                        <td>
                            <textarea name="description" id = "description" class="description form-control {% if errors.description is defined %}is-invalid{% endif %}" placeholder="Article description" value="{{ formData.description }}"></textarea>
                            {% if errors.description is defined %}
                            <div class="invalid-feedback">
                                {{ messages.description }}
                            </div>
                            {% endif %}
                        </td>
                        <td>
                            <input name="price" id = "price" class="price form-control {% if errors.price is defined %}is-invalid{% endif %}" type="text" placeholder="Article price" value="{{ formData.price }}">
                            {% if errors.price is defined %}
                            <div class="invalid-feedback">
                                {{ messages.price }}
                            </div>
                            {% endif %}
                        </td>
                        <td><input name="quantity" id="quantity" class="quantity form-control {% if errors.quantity is defined %}is-invalid{% endif %}" type="text" placeholder="Article quantity" value="{{ formData.quantity }}">
                            {% if errors.quantity is defined %}
                            <div class="invalid-feedback">
                                {{ messages.quantity }}
                            </div>
                            {% endif %}
                        </td>
                    </tr> 
                    <tr>
                        <td>
                            <button name="submit" type="submit" class="btn btn-info">Validate</button>
                        </td>
                    </tr>        
                </form>
            </tbody>
        </table>
    </div>
</body>
</html>